@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body{
    margin-left: 100px;
    margin-right: 100px;
    padding-right: 50px;
    padding-left: 50px;
    font-family: "Open Sans", sans-serif;
}
header{
    background-color: beige;
}
nav{
     display: flex;
     justify-content: space-between;
}
nav h2{
     font-size: 50px;
     margin-left: 100px;
     font-weight: 800;
}
nav span{
    color: orangered;
}
.nav-right {
    display: flex;
    margin-right: 50px;
    gap: 20px;
    align-items: center;
}
.nav-right ul{
    display: flex;

    
}
.nav-right ul li{
    margin-left: 20px;
    list-style: none;
}
.button{
     background-color: orangered; 
     height: 40px; 
     color: white;
     border: none;
     border-radius: 5px;
}

/* banner section styles */

#banner{
     display: flex;
     padding-left: 150px;
     background-image: url( '../images/header_bg.png');
     background-repeat: no-repeat;
     background-position: bottom right;
     justify-content: space-between;
     background-image: url('../images/developer.png');
     background-position: bottom left;
     max-height: fit-content;
   
     
     
}
.btn-primary{
    background-color: orangered;
    margin-right: 20px;
    padding: 5px;
    color: white;
}
.contact-btn{
     padding: 5px;
     background-color: cadetblue;
     color: white; 
}
.banner-img{
      /* width: 500px; */
      margin-right: 100px;
}
.banner-title{
    font-size: 45px;
    font-weight: 600px;
}
.banner-content{
    margin-top: 50px;
    max-width: 500px;
}

/* about section related styles */

#about{
      text-align: center;
      background-color: rgb(183, 206, 198);
      padding: 30px;
      margin: 100px;

}
.contact{
     display: flex;
     justify-content: center;
     gap: 50px;
}
.contact h2{
    font-size: 25px;
}
.contact h5{
    font-size: 20px;
    color: white;
}

/* What I do section style */
.What{
    text-align: center;
    padding: 30px;
    margin: 100px;

}
.card-container{
     display: flex;
     gap: 10px;
     margin-top: 50px;
}
.card{
    width: 350px;
    text-align: center;
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 5px;
}

/* resume section styles */
.resume-container{
       text-align: center;
       margin-left: 100px;
       margin-right: 100px;
       padding-left: 50px;
       padding-right: 50px;
}
.resume-container h1{
     color: green;
}

.resume-container h2{
     color: rgb(108, 122, 118);
}
.resume-container h5{
     color: orangered
}
.resume-container h6{
     color: rgb(74, 106, 119)
}
.resume-container p{
     color: gray
}
.resume-content{
    display: flex;
    gap: 10px;
}